*{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body{
     display: flex;
    justify-content: center;
    align-items: center;
}
#main-content{
    border: 3px solid gray;
    width: fit-content;
    padding: 25px;
    border-radius: 5px;
    position: relative;
    top: 18vh;
    box-shadow: 5px 6px 3px;
}

h1{
    color: rgb(163, 163, 207);
    background-color: rgba(0, 0, 0, 0.788);
    width: 45vw;
}

label{
    color: rgb(77, 68, 68)  ;
    text-shadow: 2px 1px 4px;
    font-size: 20px;
    display: block;
    margin: 5px;
}

input{
    width: fit-content;
    margin: 5px;
    padding: 1px;
    border: 2px solid gray;
    border-style: double;
    box-sizing: content-box;
    font-weight: 600;
    color: rgb(76, 76, 122);
}

#btn{
    height: 35px;
    line-height: 35px;
}

button{
    background-color: rgba(170, 164, 164, 0.788);
    color: rgb(76, 76, 122);
    font-weight: 900;
    border-color:  rgba(170, 164, 164, 0.788);
    box-shadow: 5px 2px 3px;
}

#input{
    height: 50px;
    line-height: 50px;
}

#display{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    
}